#set git ignore for Dexpress plugin
bin/
obj/
*.user
*.suo
*.log
*.vs/
.DS_Store
.vscode/
.idea/
*.ncrunch*
*.ncrunchsolution
*.resharper
_ReSharper*/
*.DotSettings.user
*.nupkg
*.snk
*.pdb
*.cache
*.localhistory/
*.sln.docstates
*.sln.idea
*.sln.iml
*.sln.DotSettings
*.sln.DotSettings.user
*.sln.ideahistory
*.sln.localhistory/
*.sln.ReSharper
*.sln.ReSharper.user
*.sln.cache
*.sln.ncrunch*